<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<head>
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<script type="text/javascript">

	$("#main")
	$(".breadcrumbs")
</script>
<main id="main" layout:fragment="content">

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div th:each="list : ${fileList}" class="swiper-slide">
				<img th:src="${list?.fileTopPath}" style="width:1900px;height:900px;">
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script>
		const swiper = new Swiper('.swiper-container', {
			loop: true,
			autoplay: {
				delay: 4100,
			},
			speed: 500,
		})
	</script>

</main>

</html>