<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <div layout:fragment="content">
        <table>
			<th>메뉴아이디 </th>
			<th>메뉴이름 </th>
			<th>메뉴정보 </th>
			<th>메뉴가격 </th>
			<th>메뉴사진 </th>
			<th>메뉴업로드날짜</th>
			<tr th:each="l : ${menuList}">
				<td th:text="${l.menuUid}"></td>
				<td th:text="${l.menuName}"></td>			
				<td th:text="${l.menuPrice}"></td>			
				<td th:text="${l.menuPicture}"></td>			
				<td th:text="${l.menuUploadDate}"></td>			
			</tr>
			
		</table>
        
    </div>
</html>