<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<ol>
					<li><a href="main2.html">Home</a></li>
					<li>스토어</li>
				</ol>
				<h2>스토어</h2>

			</div>
		</section><!-- End Breadcrumbs -->

		<!-- ======= Portfolio Section ======= -->
		<section id="portfolio" class="portfolio">
			<div class="container">

				<div class="row portfolio-container">

					<div class="col-md-3 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="assets/img/store/popdrinkset.png" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Card 2</h4>
								<p>Card</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="assets/img/store/snack.png" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Web 2</h4>
								<p>Web</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="assets/img/store/ticket.png" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Web 2</h4>
								<p>Web</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section><!-- End Portfolio Section -->

	</main><!-- End #main -->
</div>

</html>