<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

		
	<script charset="utf-8"> 
		
		
	$(function(){
		
		$("#wizard").steps({
	        headerTag: "h2",
	        bodyTag: "section",
	        transitionEffect: "fade",
	        enableAllSteps: true,
	        transitionEffectSpeed: 500,
	        labels: {
	            finish: "Submit",
	            next: "Forward",
	            previous: "Backward"
	        }
	    });
	    $('.wizard > .steps li a').click(function(){
	    	$(this).parent().addClass('checked');
			$(this).parent().prevAll().addClass('checked');
			$(this).parent().nextAll().removeClass('checked');
	    });
	    // Custome Jquery Step Button
	    $('.forward').click(function(){
	    	$("#wizard").steps('next');
	    })
	    $('.backward').click(function(){
	        $("#wizard").steps('previous');
	    })
	    // Select Dropdown
	    $('html').click(function() {
	        $('.select .dropdown').hide(); 
	    });
	    $('.select').click(function(event){
	        event.stopPropagation();
	    });
	    $('.select .select-control').click(function(){
	        $(this).parent().next().toggle();
	    })    
	    $('.select .dropdown li').click(function(){
	        $(this).parent().toggle();
	        var text = $(this).attr('rel');
	        $(this).parent().prev().find('div').text(text);
	    })
	    
	    // 입력감지	
	        $("#memberId").on("propertychange change keyup paste input", function(){
			idFlag = false;
		});
	    
		// 직접입력 누를시 바뀌는곳
		$("select[name='selectMail']").on("change",function(){
			
			let name = $(this).val();
			
			if(name == 'select'){
				$("#mailInputDiv").empty();
				$("#mailInputDiv").html(
					'<input type="text" placeholder="직접 입력" class="form-control2" name="inputMail">'
				);
			}
			
		})
		
		
	});
	
	
	
	
	// 비밀번호 정규화
	/* var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";	
	var txt = "aaaa";
	if( !reg.test(txt) ) {
	    alert("비밀번호 정규식 규칙 위반!!");
	    return false
	} */
	

	// 중복 체크
	
	let idFlag = false; 
	let pwFlag = false;
	
	// 아이디 중복체크
	function doubleChk() {

		var memberId = $("#memberId").val();

		if(isNull(memberId)){
			alert("아이디를 입력해주세요");
			return false;
		}

		$.ajax({
			
			type : 'post',
			url : '[[@{/member/doubleChk}]]',
			data : {
				'memberId':memberId,
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					
					idFlag = true;
					
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}
	// 패스워드 같은지 체크
	function passCheck(){
		
		let password1 = $("#password1").val();
		let password2 = $("#password2").val();

		if(password1 != password2) {

			$("#passNotMsg").show();
			
		} else {
			$("#passNotMsg").hide();
			pwFlag = true;
		}
	}
	
	// 메일 인증번호 발송
	function mailAuthSend(){
		
		let email1 = $("#email1").val();
		let email2 = $("select[name='selectMail'] option:selected").val();
		
		if(email2 == undefined) {
			email2 = $("input[name='inputMail']").val();
		}
		
		if(isNull(email1) || isNull(email2)) {
			alert("이메일을 입력해주세요.");
			return;
		}
		
		let email = email1 + "@" + email2;
		
		$.ajax({
			
			type : 'post',
			url : '[[@{/member/mailAuthSend}]]',
			data : {
				'email' : email
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					timer();
					mailFlag = true;
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}
	
	// 타이머
	function timer(){
		
		var time = 600;
		var min = "";
		var sec = "";
		var timerMsg = $("#timerMsg")
		
		var interval = setInterval(function(){
			min = parseInt(time/60);
			sec = time%60;
			timerMsg.show();
			console.log(min);
			timerMsg.text(min + "분 " + sec +"초");
			time--;

			if(time < 0 ) {
				clearInterval(interval);
				timerMsg.html("시간초과");
			}
		}, 1000);
	}
	
	</script>
</head>

<main id="main" layout:fragment="content">
	<div class="wrapper">
            <form action="" id="wizard">
        		<!-- SECTION 1 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content" >
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p>감동을 주는 세수정유!! 회원가입을 환영합니다.</p>
							<div class="form-row">
								<div class="form-holder2">
									<input type="text" placeholder="아이디를 입력해주세요." class="form-control2" id="memberId" name="memberId">
									<button type="button" class="btn-form" onclick="doubleChk()" id="doubleBtn">중복확인</button>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password1" onchange="passCheck()">	
								</div>
								<div class="form-holder"> 
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password2" onchange="passCheck()">
									<p id="passNotMsg" style="display: none; color: red;">비밀번호가 일치하지 않습니다.</p>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="성명" class="form-control" id="memberName">
								</div>
								<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
									<div class="checkbox-tick">
										<label class="male">
											<input type="radio" name="gender" value="M" checked>남성<br>
											<span class="checkmark"></span>
										</label>
										<label class="female">
											<input type="radio" name="gender" value="F">여성<br>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="휴대폰번호 ex)01012341234" class="form-control" id="memberPhone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">	
								</div>
							</div>
						</div>
					</div>
                </section>

				<!-- SECTION 2 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3 class="join-h3Tag">Registration</h3>
							</div>
							<div class="form-row">
								<div class="form-holder w-50" style="margin-right: 0px;">
									<input type="text" placeholder="Address" class="form-control" id="email1">
								</div>
								<p class="m-1">@</p>
								<div class="form-holder w-100" id="mailInputDiv">
									<select name="selectMail" class="form-select form-select-sm form-select-border">
									  <option value="naver.com" selected>naver.com</option>
									  <option value="daum.net">daum.net</option>
									  <option value="google.com">google.com</option>
									  <option value="select">직접입력</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder2" style="display: inline;">
									<div class="form-divClass">
										<input type="text" placeholder="인증번호" class="form-control2" id="mailAuth" name="mailAuth">
										<button type="button" class="btn-form" onclick="mailAuthSend()" id="mailBtn">인증발송</button>
									</div>
									<p id="timerMsg" style="display:none; color: red;"></p>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="City" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Zip Code" class="form-control">
								</div>
							</div>
							<div class="checkbox-circle">
								<label>
									<input type="checkbox" checked> Nor again is there anyone who loves or pursues or desires to obtaini.
									<span class="checkmark"></span>
								</label>
							</div>

							<div class="form-row">
								<div class="select">
									<div class="form-holder">
										<div class="select-control">Your country</div>
										<i class="zmdi zmdi-caret-down"></i>
									</div>
									<ul class="dropdown">
										<li rel="United States">United States</li>
										<li rel="United Kingdom">United Kingdom</li>
										<li rel="Viet Nam">Viet Nam</li>
									</ul>
								</div>
								<div class="form-holder"></div>
							</div>
						</div>
					</div>
                </section>

                <!-- SECTION 3 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p class="join_Ptag">Send an optional message</p>
							<div class="form-row">
								<div class="form-holder w-100">
									<textarea name="" id="" placeholder="Your messagere here!" class="form-control" style="height: 99px;"></textarea>
								</div>
							</div>
							<div class="checkbox-circle mt-24">
								<label>
									<input type="checkbox" checked>  Please accept <a href="#">terms and conditions ?</a>
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
                </section>
            </form>
		</div>
</main>
	
</html>