<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

		
	<script charset="utf-8"> 
		
		
	$(function(){
		
		$("#wizard").steps({
	        headerTag: "h2",
	        bodyTag: "section",
	        transitionEffect: "fade",
	        enableAllSteps: true,
	        transitionEffectSpeed: 500,
	        labels: {
	            finish: "Submit",
	            next: "Forward",
	            previous: "Backward"
	        }
	    });
	    $('.wizard > .steps li a').click(function(){
	    	$(this).parent().addClass('checked');
			$(this).parent().prevAll().addClass('checked');
			$(this).parent().nextAll().removeClass('checked');
	    });
	    // Custome Jquery Step Button
	    $('.forward').click(function(){
	    	$("#wizard").steps('next');
	    })
	    $('.backward').click(function(){
	        $("#wizard").steps('previous');
	    })
	    // Select Dropdown
	    $('html').click(function() {
	        $('.select .dropdown').hide(); 
	    });
	    $('.select').click(function(event){
	        event.stopPropagation();
	    });
	    $('.select .select-control').click(function(){
	        $(this).parent().next().toggle();
	    })    
	    $('.select .dropdown li').click(function(){
	        $(this).parent().toggle();
	        var text = $(this).attr('rel');
	        $(this).parent().prev().find('div').text(text);
	    })
		
	});
	
	
	
	
	// 비밀번호 정규화
	/* var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";	
	var txt = "aaaa";
	if( !reg.test(txt) ) {
	    alert("비밀번호 정규식 규칙 위반!!");
	    return false
	} */
	
	// 중복 체크
	
	let idFlag = false; 
	let pwFlag = false;
	
	function doubleChk() {

		var memberId = $("#memberId").val();

		if(isNull(memberId)){
			alert("아이디를 입력해주세요");
			return false;
		}

		$.ajax({
			
			type : 'post',
			url : '[[@{/member/doubleChk}]]',
			data : {
				'memberId':memberId,
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					
					idFlag = true;
					
					$("#doubleBtn").empty();
					$("#doubleBtn").html("통과");
										
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}

	function passCheck(){
		
		let password1 = $("#password1").val();
		let password2 = $("#password2").val();

		if(password1 != password2) {

			$("#passNotMsg").show();
			
		} else {
			$("#passNotMsg").hide();
			pwFlag = true;
		}
	}
	
	</script>
</head>

<main id="main" layout:fragment="content">
	<div class="wrapper">
            <form action="" id="wizard">
        		<!-- SECTION 1 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content" >
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p>감동을 주는 세수정유!! 회원가입을 환영합니다.</p>
							<div class="form-row">
								<div class="form-holder2">
									<input type="text" placeholder="아이디를 입력해주세요." class="form-control2" id="memberId" name="memberId">
									<button type="button" class="btn-form" onclick="doubleChk()" id="doubleBtn">중복확인</button>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password1" onchange="passCheck()">	
								</div>
								<div class="form-holder"> 
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password2" onchange="passCheck()">
									<p id="passNotMsg" style="display: none;">비밀번호가 일치하지 않습니다.</p>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Age" class="form-control">
								</div>
								<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
									<div class="checkbox-tick">
										<label class="male">
											<input type="radio" name="gender" value="male" checked> Male<br>
											<span class="checkmark"></span>
										</label>
										<label class="female">
											<input type="radio" name="gender" value="female"> Female<br>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="checkbox-circle">
								<label>
									<input type="checkbox" checked> Nor again is there anyone who loves or pursues or desires to obtaini.
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
                </section>

				<!-- SECTION 2 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3 class="join-h3Tag">Registration</h3>
							</div>
							<p>Please fill with additional info</p>
							<div class="form-row">
								<div class="form-holder w-100">
									<input type="text" placeholder="Address" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="City" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Zip Code" class="form-control">
								</div>
							</div>

							<div class="form-row">
								<div class="select">
									<div class="form-holder">
										<div class="select-control">Your country</div>
										<i class="zmdi zmdi-caret-down"></i>
									</div>
									<ul class="dropdown">
										<li rel="United States">United States</li>
										<li rel="United Kingdom">United Kingdom</li>
										<li rel="Viet Nam">Viet Nam</li>
									</ul>
								</div>
								<div class="form-holder"></div>
							</div>
						</div>
					</div>
                </section>

                <!-- SECTION 3 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p class="join_Ptag">Send an optional message</p>
							<div class="form-row">
								<div class="form-holder w-100">
									<textarea name="" id="" placeholder="Your messagere here!" class="form-control" style="height: 99px;"></textarea>
								</div>
							</div>
							<div class="checkbox-circle mt-24">
								<label>
									<input type="checkbox" checked>  Please accept <a href="#">terms and conditions ?</a>
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
                </section>
            </form>
		</div>
</main>
	
</html>