<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>
		
	<script charset="utf-8"> 
		
	$(function(){
		
		$("#wizard").steps({
	        headerTag: "h2",
	        bodyTag: "section",
	        transitionEffect: "fade",
	        enableAllSteps: true,
	        transitionEffectSpeed: 500,
	        labels: {
	            finish: "Submit",
	            next: "Forward",
	            previous: "Backward"
	        }
	    });
	    $('.wizard > .steps li a').click(function(){
	    	$(this).parent().addClass('checked');
			$(this).parent().prevAll().addClass('checked');
			$(this).parent().nextAll().removeClass('checked');
	    });
	    // Custome Jquery Step Button
	    $('.forward').click(function(){
	    	$("#wizard").steps('next');
	    })
	    $('.backward').click(function(){
	        $("#wizard").steps('previous');
	    })
	    // Select Dropdown
	    $('html').click(function() {
	        $('.select .dropdown').hide(); 
	    });
	    $('.select').click(function(event){
	        event.stopPropagation();
	    });
	    $('.select .select-control').click(function(){
	        $(this).parent().next().toggle();
	    })    
	    $('.select .dropdown li').click(function(){
	        $(this).parent().toggle();
	        var text = $(this).attr('rel');
	        $(this).parent().prev().find('div').text(text);
	    })
	    
	    // 입력감지	
	        $("#memberId").on("propertychange change keyup paste input", function(){
			idFlag = false;
		});
	    
		// 직접입력 누를시 바뀌는곳
		$("select[name='selectMail']").on("change",function(){
			
			let name = $(this).val();
			
			if(name == 'select'){
				$("#mailInputDiv").empty();
				$("#mailInputDiv").html(
					'<input type="text" placeholder="직접 입력" class="form-control2" name="inputMail">'
				);
			}
			
		})
	
		// submit 버튼 조작
		$("#wizard .actions a[href='#finish']").on("click", function(event) {
		    event.preventDefault(); // 기본 동작 방지 (페이지 새로고침 방지)
		   
			submit();
		});
		
	});
	
	// 비밀번호 정규화
	/* var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";	
	var txt = "aaaa";
	if( !reg.test(txt) ) {
	    alert("비밀번호 정규식 규칙 위반!!");
	    return false
	} */
	

	// 중복 체크
	
	let idFlag = false; 
	let pwFlag = false;
	
	let currentTimer  = null;
	let mailFlag = false;

	// 이메일 인덱스
	let authId = 0;
	
	// 아이디 중복체크
	function doubleChk() {

		var memberId = $("#memberId").val();

		if(isNull(memberId)){
			alert("아이디를 입력해주세요");
			return false;
		}

		$.ajax({
			
			type : 'post',
			url : '[[@{/member/doubleChk}]]',
			data : {
				'memberId':memberId,
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					
					idFlag = true;
					
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}
	// 패스워드 같은지 체크
	function passCheck(){
		
		let password1 = $("#password1").val();
		let password2 = $("#password2").val();

		if(password1 != password2) {

			$("#passNotMsg").show();
			
		} else {
			$("#passNotMsg").hide();
			pwFlag = true;
		}
	}
	
	// 메일 인증번호 발송
	function mailAuthSend(){
		
		let email1 = $("#email1").val();
		let email2 = $("select[name='selectMail'] option:selected").val();
		
		if(email2 == undefined) {
			email2 = $("input[name='inputMail']").val();
		}
		
		if(isNull(email1) || isNull(email2)) {
			alert("이메일을 입력해주세요.");
			return;
		}
		
		let email = email1 + "@" + email2;
		
		$.ajax({
			
			type : 'post',
			url : '[[@{/member/mailAuthSend}]]',
			data : {
				'email' : email
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					
					authId = res.data;
					
					if(currentTimer === null) {
						timer();
					} else {
						clearInterval(currentTimer);
						timer();
					}
					
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}

	// 인증번호 확인
	function mailAuthCheck(){

		var mailAuth = $("#mailAuth").val();

		if(isNull(mailAuth)){
			alert("인증번호를 입력해주세요.");
			return;
		}

		if( !(authId > 0) ){
			alert("인증번호를 입력해주세요.");
			return;
		}
		
		$.ajax({
			
			type : 'post',
			url : '[[@{/member/mailAuthCheck}]]',
			data : {
				'authId' : authId,
				'authNum' : mailAuth
			},
			dataType : 'json',
			success : function(res){
				
				if(res.code == '00') {
					
					clearInterval(currentTimer);

					$("#timerMsg").css("color","DodgerBlue");
					$("#timerMsg").text("인증완료");
					
					mailFlag = true;
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}
	
	// 타이머
	function timer(){
		
		var time = 60;
		var min = "";
		var sec = "";
		var timerMsg = $("#timerMsg")
		
		currentTimer = setInterval(function(){
			
			min = parseInt(time/60);
			sec = time%60;
			timerMsg.show();
			timerMsg.text(min + "분 " + sec +"초");
			time--;

			if(time < 0 ) {
				clearInterval(currentTimer);
				authId = 0; // 초기화
				timerMsg.html("시간초과 다시 받기를 눌러주세요");
				$("#mailChkBtn").prop("disabled",true);
			}
		}, 1000);
	}


	function submit() {
		
		let memberId = $("#memberId").val();
		
		let password = $("#password1").val();
		let memberName = $("#memberName").val();
		let gender = $('input[name=gender]:checked').val();

		let memberPhone = $("#memberPhone").val();

		let email1 = $("#email1").val();
		let email2 = $("select[name='selectMail'] option:selected").val();
		
		let email = email1 + "@" + email2;

		let emailYn = $('#emailYn').is(":checked");
		let marketingYn = $('#marketingYn').is(":checked");
		let smsYn = $('#smsYn').is(":checked");

		let formData = new FormData();
		
		if(isNull(memberId)){
			
			alert("아이디를 입력해주세요.");
			return;
		}
		
		if(isNull(password)){
			
			alert("패스워드를 입력해주세요.");
			return;
		}
		
		if(isNull(memberName)){
			
			alert("이름을 입력해주세요.");
			return;
		}
		
		if(isNull(gender)){
			
			alert("성별을 입력해주세요.");
			return;
		}
		
		if(isNull(email)){
			
			alert("이메일을 입력해주세요.");
			return;
		}

		if(isNull(memberPhone)){
			
			alert("휴대폰번호를 입력해주세요.");
			return;
		}

		if(emailYn){
			formData.append("emailYn","Y");
		}

		if(marketingYn){
			formData.append("marketingYn","Y");
		}

		if(smsYn){
			formData.append("smsYn","Y");
		}

		if(!idFlag) {
			alert("아이디중복 확인해주세요.");
			return;
		}
		if(!pwFlag) {
			alert("패스워드 확인해주세요.");
			return;
		}
		if(!mailFlag) {
			alert("메일인증 확인해주세요.");
			return;
		}

		formData.append("memberId",memberId);
		formData.append("password",password);
		formData.append("memberName",memberName);
		formData.append("memberGender",gender);
		formData.append("memberPhone",memberPhone);
		formData.append("email",email);

		$.ajax({
			
			type : 'post',
			url : '[[@{/member/join}]]',
			data : formData,
			dataType : 'json',
			processData: false,
			contentType: false,
			success : function(res){
				
				if(res.code == '00') {
					
					location.href = "[[@{/member/loginForm}]]"
				} 
				
				alert(res.msg);
			},
			error: function(res){
				alert(res);
			}
		});
		
	}
	</script>
</head>

<main id="main" layout:fragment="content">
	<div class="wrapper">
            <form action="" id="wizard">
        		<!-- SECTION 1 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content" >
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p>감동을 주는 세수정유!! 회원가입을 환영합니다.</p>
							<div class="form-row">
								<div class="form-holder2">
									<input type="text" placeholder="아이디를 입력해주세요." class="form-control2" id="memberId" name="memberId">
									<button type="button" class="btn-form" onclick="doubleChk()" id="doubleBtn">중복확인</button>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password1" onchange="passCheck()">	
								</div>
								<div class="form-holder"> 
									<input type="password" placeholder="비밀번호를 입력하세요." class="form-control" id="password2" onchange="passCheck()">
									<p id="passNotMsg" style="display: none; color: red;">비밀번호가 일치하지 않습니다.</p>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="성명" class="form-control" id="memberName">
								</div>
								<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
									<div class="checkbox-tick">
										<label class="male">
											<input type="radio" name="gender" value="M" checked>남성<br>
											<span class="checkmark"></span>
										</label>
										<label class="female">
											<input type="radio" name="gender" value="F">여성<br>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							
						</div>
					</div>
                </section>

				<!-- SECTION 2 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3 class="join-h3Tag">Registration</h3>
							</div>
							<div class="form-row">
								<div class="form-holder w-50" style="margin-right: 0px;">
									<input type="text" placeholder="Address" class="form-control" id="email1">
								</div>
								<p class="m-1">@</p>
								<div class="form-holder w-100" id="mailInputDiv">
									<select name="selectMail" class="form-select form-select-sm form-select-border">
									  <option value="naver.com" selected>naver.com</option>
									  <option value="daum.net">daum.net</option>
									  <option value="google.com">google.com</option>
									  <option value="select">직접입력</option>
									</select>
								</div>
								<div class="form-holder">
									<button type="button" class="custom-btn" onclick="mailAuthSend()" id="mailBtn">인증발송</button>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder2" style="display: inline;">
									<div class="form-divClass">
										<input type="text" placeholder="인증번호" class="form-control2" id="mailAuth" name="mailAuth">
										<button type="button" class="btn-form" onclick="mailAuthCheck()" id="mailChkBtn">인증확인</button>
									</div>
									<p id="timerMsg" style="display:none; color: red;"></p>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="휴대폰 Ex) 01012341234" class="form-control" id="memberPhone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">	
								</div>
							</div>

						</div>
					</div>
                </section>

                <!-- SECTION 3 -->
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Registration</h3>
							</div>
							<p class="join_Ptag">마케팅 관련 수신</p>
							<div class="checkbox-circle mt-24">
								<label>
									<input type="checkbox" id="emailYn"> 이메일 수신 체크여부
									<span class="checkmark"></span>
								</label>
							</div>
							
							<div class="checkbox-circle mt-24">
								<label>
									<input type="checkbox" id="marketingYn"> 마케팅 동의 여부
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="checkbox-circle mt-24">
								<label>
									<input type="checkbox" id="smsYn"> SMS 수신 여부
									<span class="checkmark"></span>
								</label>
							</div>
							
						</div>
					</div>
                </section>
            </form>
		</div>
</main>
	
</html>