<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="commonFooter" id="footer">
	<!-- ======= Footer ======= -->
	<!-- <div class="footer-newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h4>Our Newsletter</h4>
					<p>Tamen quem nulla quae legam multos aute sint culpa legam
						noster magna</p>
				</div>
				<div class="col-lg-6">
					<form action="" method="post">
						<input type="email" name="email"><input type="submit"
							value="Subscribe">
					</form>
				</div>
			</div>
		</div>
	</div> -->

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>메뉴이동</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="#">홈</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">영화소개</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">극장소개</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">예매하기</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">스토어</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>정보</h4>
					<p>
						(04377)서울특별시 용산구 한강대로 23길 55, <br> 아이파크몰 6층(한강로동) 대표이사
							허민회 <br> 사업자등록번호 104-81-45690 <br>
							통신판매업신고번호 2017-서울용산-0662 <br> 사업자정보확인 <br>
					 <strong>Phone:</strong> +1 5589 55488 55<br> <strong>Email: </strong>
						cjcgvmaster@cj.net<br>
					</p>

				</div>

				<div class="col-lg-3 col-md-6 footer-info">
					<h3>감동을 주는 세수정!</h3>
					<p> 이이상 재미는 없다 감동을 주는 영화관입니다.</p>
					<div class="social-links mt-3">
						<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a
							href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a
							href="#" class="instagram"><i class="bx bxl-instagram"></i></a> <a
							href="#" class="google-plus"><i class="bx bxl-skype"></i></a> <a
							href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span>세수정</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</div>
</footer>
<!-- End Footer -->
</html>