<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <div layout:fragment="content">
        <table>
			<th>상품번호 </th>
			<th>상품구분 </th>
			<th>상품이름 </th>
			<th>상품가격 </th>
			<th>상품정보 </th>
		
			<tr th:each="l : ${popdrinkList}">
				<td th:text="${l.productIdx}"></td>
				<td th:text="${l.productGb}"></td>
				<td th:text="${l.productName}"></td>			
				<td th:text="${l.productPrice}"></td>			
				<td th:text="${l.productInfo}"></td>			
			</tr>
			
		</table>
		
        
    </div>
</html>