<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<ol>
					<li><a href="index.html">Home</a></li>
					<li>스낵</li>
				</ol>
				<h2>스낵</h2>

			</div>
		</section>
		<!-- End Breadcrumbs -->

		<!-- ======= Portfolio Section ======= -->
		<section id="portfolio" class="portfolio">
			<div class="container">

				<div class="thirteen">
					<h1>스낵</h1>
				</div>
				<br />

				<div class="row portfolio-container">

					<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img th:src="@{/assets/img/portfolio/portfolio-1.jpg}" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>칠리치즈나쵸</h4>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img th:src="@{/assets/img/portfolio/portfolio-3.jpg}" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>핫도그</h4>
								<p>플레인 / 칠리치즈</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img th:src="@{/assets/img/portfolio/portfolio-4.jpg}" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>버터구이오징어</h4>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
										class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
									<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section><!-- End Portfolio Section -->

	</main><!-- End #main -->
</div>

</html>