
<script>
	$(function(){
		// 버튼 클릭시 동작

		$(".seat_list .seat_btn .seat").on("click",function (){
			let btnCnt = 0;

			let selectBtn = $(this);

			if(selectBtn.hasClass("done")){
				return;
			}

			if(selectBtn.hasClass("normal")){ // 선택
				if(ticketCnt<=checkCnt){
					return;
				}
				selectBtn.removeClass("normal");
				selectBtn.addClass("select_seat");
				btnCnt = 1;
				seatArray.push(selectBtn.data("seat_num"));

			} else {	// 제거
				selectBtn.addClass("normal");
				selectBtn.removeClass("select_seat");
				btnCnt = -1;
				for(let i =0; i< seatArray.length; i++) {	// 배열에서 제거
					if (seatArray[i] === selectBtn.data("seat_num")) {
						seatArray.splice(i, 1);
					}
				}
			}
			// 우측정보창 좌석 표기
			if(seatArray.length==0){
				$("#reserveInfoSeat").text("좌석 선택 가능");
			}else {
				$("#reserveInfoSeat").text(seatArray);
			}
			checkCnt += Number(btnCnt);
			
			if(ticketCnt==checkCnt){
				nextBtnFlag = true;
				$("#nextBtn").prop("disabled",false);
				$("#nextBtn").removeClass("strf_off");
				$("#nextBtn").addClass("stlf_on");
				
			} else {
				nextBtnFlag = false;
				$("#nextBtn").prop("disabled",true);
				$("#nextBtn").removeClass("stlf_on");
				$("#nextBtn").addClass("strf_off");
			}
		

		})

	})

</script>

	<div class="seat_list" th:each="list,listStat:${seatList}">
		<div class="seat_btn">
			<th:block th:each="seat,seatStat:${list}">
				<button class="seating_tit" th:if="${seatStat?.first}" th:text="${seat?.seatRowTitle}" type="button"></button>
				<button class="disable" th:if="${seatStat?.index%4 == 0}" type="button"></button>
				<th:block th:if="${seat?.seatReserveChk}"> <!--예약유무 판단-->
					<button class="done seat" th:data-seat_num="${seat?.seatNumber}" type="button"></button>
				</th:block>
				<th:block th:unless="${seat?.seatReserveChk}"> <!--예약유무 판단-->
					<button class="normal seat" th:text="${seat?.seatRowNum}" th:data-seat_num="${seat?.seatNumber}" type="button"></button>
				</th:block>
				<button class="seating_tit" th:if="${seatStat?.last}" th:text="${seat?.seatRowTitle}" type="button"></button>
			</th:block>
		</div>
	</div>
