<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	layout:decorate="~{layout/movie_layout}">
<head>
	
<script type="text/javascript">
	
	function thumbNailImage(event) {
  const fileInput = event.target;
  const thumbNailImage = document.getElementById('thumbNail');

  if (fileInput.files && fileInput.files[0]) {
    const reader = new FileReader();

    reader.onload = function (e) {
      thumbNailImage.src = e.target.result;
      thumbNailImage.style.display = 'block';
      thumbNailImage.style.width = '200px';
      thumbNailImage.style.height = '150px';
      thumbNailImage.style.margin = '0px 0px 20px 118px';
    };

    reader.readAsDataURL(fileInput.files[0]);
  } else {
    thumbNailImage.src = '';
    thumbNailImage.style.display = 'none';
  }
}
	
	function stillCutImage(event) {
		const filesInput = event.target;
		const stillCutImage = document.getElementById('stillCut1');
		
		if(filesInput.files && filesInput.files[0]) {
			const reader = new FileReader();
			
			reader.onload = function(e) {
				stillCutImage.src = e.target.result;
				stillCutImage.style.display = 'block';
				stillCutImage.style.width = '200px';
				stillCutImage.style.height = '150px';
				stillCutImage.style.margin = '0px 0px 20px 118px';
			};
			
			reader.readAsDataURL(filesInput.files[0]);
		} else {
			stillCutImage.src = '';
			stillCutImage.style.display = 'none';
		}
	}
	
	$("#addFile").click(function() {
		let max = document.getElementsByClassName("stC").length;
		
		if(max < 5) {
			
		let steps = document.getElementsByClassName("stC").length+1;
		let newDiv = document.createElement("div");
		newDiv.setAttribute("id","stC" + steps);
		newDiv.setAttribute("class","stC");
		newDiv.setAttribute("style","margin : 0px 0px 14px 118px");
		newDiv.innerHTML ="<input type='file'' id='file' name='file' onchange='stillCutImage(event)'>"
		+ " <img src='' style='display:none;' id='stillCut'>";
		$("#recycle").append(newDiv);
		} else {
			alert("최대 5개까지 추가할 수 있습니다.");
		}
		
	});
	
	function fileSubmit(){
		
		
		var fileUploadForm = $("#fileUploadForm")[0];
		
		if(isNull($("#file").val())){
			alert("파일이 없습니다.");
			return;
		}
		
		var formData = new FormData(fileUploadForm);
		
		if(confirm("파일을 등록하시겠습니까?")) {
			$.ajax({
				type:"post",
				enctype:'multipart/form-data',
			    url : '[[@{/movies/upload}]]',
			    data : formData,
			    dataType : 'json',
			    processData : false,
			    contentType : false,
			    cache : false,
				success : function(res){
					alert(res.msg);
						
					if(res.code == '00'){
						window.location.href = "[[@{/movies/movieList}]]";	
					}
					
				},
				error: function(res){
					alert(res);
				}
			});
		}
		
	}
	
</script>
</head>
<div layout:fragment="content" style="background-color:#242628;">
	<h1 style="color:white; margin-left:100px; padding-top:30px;">영화 등록</h1>
	<hr style="color:white !important; width:80%; margin-left:100px; border:solid;">
	<form method="post" enctype="multipart/form-data" id="fileUploadForm">
		<div style="margin-left:100px;">
			<p style="display:inline-block; color : white;">영화 제목(한글) : &nbsp; </p><input type="text" name="movieNameHngl"><br>
			<p style="display:inline-block; color : white;">영화 제목(영어) : &nbsp;</p><input type="text" name="movieNameEng"><br>
			<p style="display:inline-block; color : white; margin-right:58px;"> 개봉일 : &nbsp;</p><input type="text" name="openingDt"><br>
			<p style="display:inline-block; color : white; margin-right:72px;">등급 : &nbsp;</p><input type="text" name="movieRate"><br>
			<p style="display:inline-block; color : white; margin-right:72px;">장르 : &nbsp;</p><input type="text" name="genre"><br>
			<p style="display:inline-block; color : white; margin-right:72px;">국가 : &nbsp;</p><input type="text" name="movieCountry"><br>
			<p style="display:inline-block; color : white; margin-right:44px;">상영시간 : &nbsp;</p><input type="text" name="runningTime"><br>
			<p style="display:inline-block; color : white; margin-right:72px;" >배급 : &nbsp;</p><input type="text" name="movieDistributor"><br>
			<p style="color : white; margin-right:44px; float:left;">영화소개 : &nbsp;</p>
			<textarea style=" width:500px; height:80px; margin-bottom:20px;" name="movieInfo"></textarea><br>
		<div style="margin-bottom:20px;">
			<p style="display:inline-block; color:white; margin-right : 22px;">영화 썸네일 : &nbsp;</p>
			<input type="file" id="file" name="file" onchange="thumbNailImage(event)"><br>
			<img src="" style="display:none;" id="thumbNail">
		</div>
		
		<div id="recycle" style="display:inline-block" >
			<div class="stC" id="stC">
				 <p style="display:inline-block; color:white; margin-right : 50px;">스틸 컷 : &nbsp;</p>
				 <input type="file" id="files" name="files" class="imgFile" onchange="stillCutImage(event)">
				 <img src="" style="display:none;" id="stillCut1">
			</div> 
		</div>
		
		<button type="button" id="addFile" style="margin-left:-140px;">
			 <img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-plus-icon-png-image_4196464.jpg" 
			  style="width: 25px; height: 25px; display:inline-block;">
		</button>
		
		
			 <div>
				<button type="button" onclick="fileSubmit();">등록</button>
			 </div>
		</div>
		
	</form>
</div>

</html>