<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	  layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">

<h1 style="margin-left:30px; margin-top:30px;"><b>상영중인 영화</b></h1>
<hr style="margin-left:10%; margin-right :10% ;color: black; height:3px">

<div class="container" style="margin-left:80px; margin-bottom:30px;">
	<div class="row">
		<div th:each="var : ${movieList}"class="col-md-3 mb-3">
			<div class="card" style="width:250px;">
				<img class="card-img-top" src="" alt="Card-image" style="max-width:250px; height:250px;">
			</div>
				<div class="card-body">
					<a th:href="@{/movies/movieDetail}"><h3><strong th:text="${var.movieNameHngl}"></strong></h3></a><br>
				 	<h6 th:text="${var.genre}" style="margin-top:-30px"></h6>
				</div>
				
				
		</div>
	</div>
</div>

	
</html>