<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	layout:decorate="~{layout/movie_layout}">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<div layout:fragment="content" style="background-color: #242628;">
	<main>
		<div style="margin-left:120px; padding:30px">
			<div style="display:inline-block; margin-left:100px;  vertical-align:top; margin-right:30px;">
				<img th:src="${movieDetail.fileDTO2.fileTopPath}" style="width:220px; height:330px;">
			</div>
			<div style="display:inline-block;">
				<div>
					<h2 th:text="${movieDetail.movieNameHngl}" style="color:white;"></h2>
				</div>
				<div>
					<p th:text=" '(' + ${movieDetail.movieNameEng} + ')' " style="color:white;"></p>
				</div>
				<p th:text="${movieDetail.openingDt} + ' 개봉'" style="color:white;"></p>
				<hr style="width:870px;">
				<h6 style="color:white; display:inline-block;">감독 : &nbsp;&nbsp; </h6> <p th:text="${movieDetail?.ObChild?.personNameHngl}" style="display:inline-block; color:white;"></p><br>
				<h6 style="color:white; display:inline-block;">주연 : &nbsp;&nbsp; </h6>
				<p style="display:inline-block; color:white;">
					<th:block th:each="l ,index : ${movieDetail?.personDTO}">
						<th:block th:if="${index.last}" th:text="${l?.personNameHngl}"></th:block>
						<th:block th:unless="${index.last}" th:text="${l?.personNameHngl} + ','"></th:block>
					</th:block>
				</p><br>
				<h6 style="color:white; display:inline-block;">배급 : &nbsp;&nbsp; </h6><p th:text="${movieDetail.movieDistributor}" style="display:inline-block; color:white;"></p><br>
				<h6 style="color:white; display:inline-block;">장르/ 기본정보 : &nbsp;&nbsp; </h6> <p th:text="${movieDetail.genre} +',' " style="display:inline-block; color:white;"></p>/
				<p th:text="${movieDetail.movieCountry} + ','" style="display:inline-block; color:white;"></p>
				<p th:text="${movieDetail.runningTime} + ',' " style="display:inline-block; color:white;"></p>
				<p th:text="${movieDetail.movieRate}" style="display:inline-block; color:white;"></p><br>
				<a th:href="@{/reserve/selectPage}" class="btn"
					style="background-color:#a9a9a9; font-size:20px;">예매하기</a>
			</div>
		</div>


		<h3 th:text="${movieDetail.movieInfo}"
			style="border:hidden; margin-top:40px;margin-left:200px; margin-bottom:30px; width:80%; color:white;"></h3><br>
	<div style="text-align:center;">
		<div style="display:inline-block;"  id="stillCut">
			<a  th:href="'#images'" style="color:black!important;background-color:#a9a9a9;
			 font-size:20px; margin-bottom:50px;" class="btn">스틸 컷</a>
		</div>
		
		<div style="display:inline-block;">
			<a  style="background-color:#a9a9a9; font-size:20px; margin-bottom:50px;" class="btn">인물 정보</a>
		</div>
	</div>
		
	<div class="images" id="images" style="display:none;">
		<div th:each="l : ${movieDetail.fileDTO}" style="text-align:center; margin-bottom:40px;">
			<img th:src="${l.filePath}" style="width:650px;height:420px;">
		</div>
	</div>


<script>
$(function (){
	$("#stillCut").click(function (){
  	$("#images").toggle();
  });
});
</script>


</div>

</main>

</html>