<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
	  layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">

<h1 style="margin-left:30px; margin-top:30px;"><b>상영중인 영화</b></h1>
<hr style="margin-left:10%; margin-right :10% ;color: black; height:3px">

<div class="container" style="margin-left:80px; margin-bottom:30px;">
	<div class="row">
		<div th:each="list : ${movieList}"class="col-md-3 mb-3">
			
			<!--<div class="card" style="width:250px;">
				<img class="card-img-top" th:src="${list?.child?.file?.filePath}" alt="Card-image" style="max-width:250px; height:250px;">
			</div>-->
			<div class="card" style="width:250px;">
				<img class="card-img-top" th:src="${list?.obChild?.fileTopPath}" alt="Card-image" style="max-width:250px; height:250px;">
			</div>
			
			<div class="card-body">
				<a th:href="@{/movies/movieDetail(movieIdx = ${list?.movieIdx})}">
					<h3 th:text="${list?.movieNameHngl}" style="border:hidden"></h3>
				</a>
				<div style="margin-top:-60px">
				 	<h6 th:text="${list?.genre}"></h6>
				 	개봉일 : <p th:text="${list?.openingDt}" style="display:inline-block;"></p>
				</div>
			</div>
		</div>
	</div>
</div>

	
</html>