<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.movie.mapper.cast.CastMapper">
	<select id="getList" parameterType="castDTO" resultType="castDTO">
		select * from CAST
			where movie_idx IN (
			select movie_idx from MOVIES
			)
	</select>
	
	<!--
	<select id="getOne" parameterType="castDTO" resultType="castDTO">
		select * from CAST 
		where movie_idx = #{movieIdx}
		and cast_gb = '감독'
	</select>
	-->
</mapper>