<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    [템플릿 설명]  
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
-->
<mapper namespace="com.ezen.movie.mapper.member.MemberMapper">

	<!-- 아이디 중복 확인 -->
    <select id="getDoubleChk" parameterType="memberDTO" resultType="Integer">
        select count(*) 
        from MEMBERS
        where member_id = #{memberId}
    </select>
    
    <!--메일인증 발송 후 저장-->
    <insert id="sendMail" parameterType="mailDTO" useGeneratedKeys="true" keyProperty="authId"> 
		insert into MAILAUTH
		(auth_num)
		values( #{authNum} )		
	</insert>
	
	<!-- 메일 인증 확인 -->
	<select id="authCheck" parameterType="mailDTO" resultType="int">
		select count(*)
		from MAILAUTH
		where auth_id = #{authId}
			and auth_num = #{authNum}
	
	</select>
	
	<!-- 일반 회원 가입 -->
	<insert id="join" parameterType="memberDTO">
		insert into MEMBERS (
			member_id,
			password,
			member_name,
			member_phone,
			email,
			marketing_yn,
			sms_yn,
			email_yn,
			member_gender
		)
		values(
			#{memberId},
			sha2(#{password},512),
			#{memberName},
			#{memberPhone},
			#{email},
			#{smsYn},
			#{marketingYn},
			#{emailYn},
			#{memberGender}
		)
		
		
	
	</insert>

	<!-- 로그인 -->
	<select id="login" parameterType="memberDTO" resultType="memberDTO">
		select * from MEMBERS
		where member_id = #{memberId} and password = sha2(#{password},512)
	</select>

	<select id="getOne" parameterType="String" resultType="memberDTO">
		select * from MEMBERS
		where member_id = #{memberId}
	</select>

	<!--카카오로 회원가입-->
	<insert id="kakaoJoin" parameterType="memberDTO">
		insert into MEMBERS (
			member_id,
			member_name,
			email,
			member_gender,
		    kakao_id_gb
		) values (
			#{memberId},
		    #{memberName},
			#{email},
		    #{memberGender},
		    #{kakaoIdGb}
		)

	</insert>
	

</mapper>