<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- [템플릿 설명] - 해당 파일은 SQL 문을 작성하는 곳입니다. -->

<mapper namespace="com.ezen.movie.mapper.movies.MoviesMapper">

	<select id="selectMovie" resultType="moviesDTO">
		SELECT *
		, COUNT(*) OVER () TOTAL
		FROM MOVIES
		WHERE DATE_FORMAT(opening_dt ,'%Y-%m-%d') <![CDATA[ <= ]]>
		DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 9 HOUR),'%Y-%m-%d') and
		DATE_FORMAT(end_dt ,'%Y-%m-%d') <![CDATA[ >= ]]>
		DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 9 HOUR),'%Y-%m-%d')
	</select>

	<select resultType="moviesDTO" id="selectOneMovie"
		parameterType="moviesDTO">
		SELECT * FROM MOVIES
		WHERE MOVIES.movie_idx = #{movieIdx}
	</select>

	<delete parameterType="moviesDTO" id="AutoDelete">
		DELETE m, f
		FROM MOVIES m
		JOIN FILE f ON m.movie_idx = f.table_idx
		WHERE f.table_gb = #{tableGb} AND opening_dt <![CDATA[ < ]]> DATE_ADD(NOW(), INTERVAL -1
		MONTH)
	</delete>
	
	<insert id="movieThumbNailInsert" parameterType="fileDTO">
		insert into FILE
		(
		create_dt,
		table_idx,
		<if test="filePath != null and filePath.length > 0">
			file_path,
		</if>
		<if test="fileName != null and fileName.length > 0">
			file_name,
		</if>
		<if test="fileTopPath != null and fileTopPath.length > 0">
			file_top_path,
		</if>
		<if test="fileTopName != null and fileTopName.length > 0">
			file_top_name,
		</if>
		table_gb
		)
		values(
		now(),
		#{tableIdx},
		<if test="filePath != null and filePath.length > 0">
			#{filePath},
		</if>
		<if test="fileName != null and fileName.length > 0">
			#{fileName},
		</if>
		<if test="fileTopPath != null and fileTopPath.length > 0">
			#{fileTopPath},
		</if>
		<if test="fileTopName != null and fileTopName.length > 0">
			#{fileTopName},
		</if>
		'movies'
		)
	</insert>
	
	<insert id="movieInsert" parameterType="moviesDTO">
		INSERT INTO mysql_ssjy.MOVIES
		(
		create_dt, 
		change_dt, 
		end_dt, 
		movie_name_hngl, 
		movie_name_eng, 
		opening_dt, 
		movie_rate, 
		genre, 
		movie_country,
		running_time,
		movie_distributor,
		movie_info) 
		VALUES
		(
		now(),
		null,
		null,
		#{movieNameHngl},
		#{movieNameEng},
		#{openingDt},
		#{movieRate},
		#{genre},
		#{movieCountry},
		#{runningTime},
		#{movieDistributor},
		#{movieInfo}) 
	</insert>

	<insert id="movieStillCutInsert" parameterType="fileDTO">
		insert into FILE
		(
		create_dt,
		table_idx,
		<if test="filePath != null and filePath.length > 0">
			file_path,
		</if>
		<if test="fileName != null and fileName.length > 0">
			file_name,
		</if>
		<if test="fileTopPath != null and fileTopPath.length > 0">
			file_top_path,
		</if>
		<if test="fileTopName != null and fileTopName.length > 0">
			file_top_name,
		</if>
		table_gb
		)
		values(
		now(),
		#{tableIdx},
		<if test="filePath != null and filePath.length > 0">
			#{filePath},
		</if>
		<if test="fileName != null and fileName.length > 0">
			#{fileName},
		</if>
		<if test="fileTopPath != null and fileTopPath.length > 0">
			#{fileTopPath},
		</if>
		<if test="fileTopName != null and fileTopName.length > 0">
			#{fileTopName},
		</if>
		'movies'
		)
	</insert>
	
	<select id="selectMaxMovieIdx" resultType="int">
		select MAX(movie_idx) from MOVIES
	</select>
</mapper>