<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.movie.mapper.person.PersonMapper">
	<select id="getList"  resultType="personDTO">
		SELECT *
		FROM PERSON
		WHERE persion_idx IN (
		SELECT persion_idx
		FROM CAST
		WHERE cast_gb = '주연'
		AND movie_idx = #{movieIdx}
		)
	</select>

	<select id="getOne"  resultType="personDTO">
		SELECT *
		FROM PERSON
		WHERE persion_idx IN (
		SELECT persion_idx
		FROM CAST
		WHERE cast_gb = '감독'
		AND movie_idx = #{movieIdx}
		)
	</select>
</mapper>
