<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    [템플릿 설명]  
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
-->
<mapper namespace="com.ezen.movie.mapper.reserve.ReserveMapper">

    <select id="selectMenu" resultType="reserveDTO" >
        select *
        from menu
    </select>
	
	
	<select id="getTimetable" parameterType="MoviesDTO" resultType="map">
		SELECT A.movie_idx 		AS movieIdx
			 , B.timetable_idx 		AS timetableIdx
			 , A.movie_name_hngl 	AS movieNameHngl
			 , A.movie_rate 		AS movieRate
			 , A.running_time 		AS runningTime
			 , D.screen_number		AS screenNumber
			 , D.floor				AS floor
			 , B.dimension_gb 		AS dimensionGb
			 , B.start_time 		AS startTime
			 , B.finish_time 		AS finishTime
			 , D.seat_total - (SELECT COUNT(*) FROM SEAT_RESERVE C WHERE C.timetable_idx = B.timetable_idx) AS total
			 , C.file_top_path		AS fileTopPath
		  FROM MOVIES A
			 , TIMETABLE B 
			 , (SELECT * 
			 	  FROM FILE 
			 	 WHERE table_gb = #{fileDTO2.tableGb}
			 	   AND file_top_path IS NOT NULL
			   ) C
			 , SCREEN D
		 WHERE A.movie_idx 	  = B.movie_idx 
		   AND A.movie_idx	  = C.table_idx
		   AND B.screen_idx   = D.screen_idx
		   AND B.screening_dt = #{wildCard}
		<if test="movieIdx != 0">
		   AND A.movie_idx 	  = #{movieIdx}
		</if>
	</select>

</mapper>